In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)

In [ ]:
seri = pd.Series([1, 20, 3, -12, 5], index=['a', 'b', 'c', 'd', 'e'])
seri

In [ ]:
data = {
    'İsim': ['Özge', 'Ahmet', 'Şirin', 'Mehmet'],
    'Tecrübe': [3, 0.5, 2.5, 1],
    'Maaş': [9000, 2500, 6500, 5000]
}

df = pd.DataFrame(data, columns=["İsim", "Maaş"])
df

In [ ]:
# https://www.kaggle.com/jamesleslie/titanic-cleaned-data?select=train_clean.csv
# pd.read_EXTENSION
df = pd.read_csv('./src/titanic_dataset/train_clean.csv')

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df.head(5)

In [ ]:
df.tail()

In [ ]:
# Null(NaN) olmayan veri sayısı
df.count()

In [ ]:
df["Embarked"]

In [ ]:
df['Yeni Sütun'] = 'Yeni'

In [ ]:
df.iloc[0, :]

In [ ]:
df.loc[:, 'Age']

In [ ]:
df.drop([0, 3, 2, 5])
#df.head()

In [ ]:
df.drop('Cabin', axis=1)

In [ ]:
df['Survived'].sum()

In [ ]:
df['Age'].max()

In [ ]:
df['Age'].idxmax()

In [ ]:
df['Age'].min()

In [ ]:
df['Age'].idxmin()

In [ ]:
df.mean()

In [ ]:
df.median()

In [ ]:
df.describe()

In [ ]:
df.Age.apply(lambda x: x if x >= 1 else 0)

In [ ]:
df.Embarked.unique()
df.Embarked.apply(lambda x: x.replace('Q', 'Z'))

In [ ]:
df.Age.sort_values()

In [ ]:
df['Fare'] > 10

In [ ]:
a = df[df['Fare'] > 10]
a.head()

In [ ]:
grup = df.groupby('Embarked')
grup.sum()
"""
for isim, içerik in grup:
    print("=>", isim)
    print(içerik.Age)
    print("-"*40)
"""
grup.Age.agg(np.mean)

In [ ]:
grup.Age.agg(np.mean)
# grup.mean().Age
grup.agg([np.size, np.sum, np.mean])

In [ ]:
grup.get_group('S').shape

In [ ]:
grup.filter(lambda x: x['Fare'].mean() > 30)